{% extends 'layout.html' %}

{% block body%}
<h1>
    About Us
</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda debitis, facere in mollitia nam qui rem repellendus voluptate. Eius impedit in labore non odio possimus, qui sapiente veniam vero.</p>
{% endblock %}