{% extends 'layout.html' %}

{% block body%}
    <div class="jumbotron text-center">
        <h1>Welcome to FlaskApp</h1>
        <p class="lead"> This application is build with Python Flask and front-end with Boostrap</p>
    </div>
{% endblock %}